{% load static %}
<div class="wrapper row4">
  <footer id="footer" class="clear">
      {% if informations %}
          {% for information in informations %}
    <div class="one_quarter first">
      <h6 class="title">Firma Bilgileri</h6>
      <address class="btmspace-15">
      {{ information.address }}
      </address>
      <ul class="nospace">
          {% if information.phone_number %}
        <li class="btmspace-10"><span class="fa fa-phone">{{ information.phone_number }}</span></li>
          {% endif %}
        {% if information.email %}
        <li><span class="fa fa-envelope-o"></span> {{ information.email }}</li>
      {% endif %}
      </ul>
    </div>
          {% endfor %}
      {% endif %}
    <div class="one_quarter">
      <h6 class="title">Menu</h6>
      <ul class="nospace linklist">
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Galeri</a></li>
        <li><a href="#">Referanslarımız</a></li>
        <li><a href="#">Hakkımızda</a></li>
        <li><a href="#">İletişim</a></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Son Eklenen Yazı</h6>
      <article>
        <h2 class="nospace"><a href="#">Bugün kü yazımızda... </a></h2>
        <time class="smallfont" datetime="2045-04-06">Cuma, 6<sup></sup> Nisan 2017</time>
        <p>Ağaç işçiliğinin olmazsa olmazlarından biri de uygun ağaç kullanımıdır.</p>
      </article>
    </div>
    <div class="one_quarter">
      <h6 class="title">Bağlantıda Kalın</h6>
      <form class="btmspace-30" method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Gönder</button>
        </fieldset>
      </form>
        {% if socials %}
      <ul class="faico clear">
      {% for social in socials %}

        {% if social.facebook %}<li><a class="faicon-facebook" href="{{ social.facebook }}"><i class="fa fa-facebook"></i></a></li>{% endif %}
        {% if social.twitter %}<li><a class="faicon-twitter" href="{{ social.twitter }}"><i class="fa fa-twitter"></i></a></li>{% endif %}
        {% if social.linkedin %}<li><a class="faicon-linkedin" href="{{ social.linkedin }}"><i class="fa fa-linkedin"></i></a></li>{% endif %}
        {% if social.google_plus %}<li><a class="faicon-google-plus" href="{{ social.google_plus }}"><i class="fa fa-google-plus"></i></a></li>{% endif %}
        {% if social.instagram %}<li><a class="faicon-instagram" href="{{ social.instagram }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
        {% if social.tumblr %}<li><a class="faicon-tumblr" href="{{ social.tumblr }}"><i class="fa fa-tumblr"></i></a></li>{% endif %}
      {% endfor %}
      </ul>
        {% endif %}
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2015 - Her Hakkı Saklıdır- <a href="#">orhanmobilya.com</a></p>

  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>