{% load static %}
{% if galleries %}
<div class="wrapper row2">
  <div class="latest">
    <ul class="nospace group">
        {% for gallery in galleries %}
      <li>
        <figure><a class="overlay" href="#"><img src="{{ gallery.image.url }}" alt=""></a>
          <figcaption class="inspace-30 center">
            <p class="bold uppercase">{{ gallery.title }}</p>
            <p><a href="{{ gallery.link }}">Devamı &raquo;</a></p>
          </figcaption>
        </figure>
      </li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endif %}