{% load static %}
<div class="wrapper">
  <div id="slider" class="clear">
    <div class="flexslider basicslider">
      <ul class="slides">
        <li><img src="{% static 'img/slides/facilities_4.jpg' %}" alt="">
          <div class="txtoverlay">
            <div class="centralise">
              <div class="verticalwrap">
                <article>
                  <h2 class="heading uppercase">30 YILDIR SEKTÖRÜNÜN BURSA'DAKİ TEMSİLCİSİ</h2>
                  <p><a class="btn orange pushright" href="#">REFERANSLARIMIZ</a> <a class="btn red" href="#">GALERİMİZ</a></p>
                </article>
              </div>
            </div>
          </div>
        </li>
        <li><img src="{% static 'img/slides/mutfak.jpg' %}" alt="">
          <div class="txtoverlay">
            <div class="centralise">
              <div class="verticalwrap">
                <article>
                  <h2 class="heading uppercase">MUTFAK DOLAPLARI VE MASALARI EL İŞÇİLİĞİYLE YAPILMAKTADIR</h2>
                  <p><a class="btn red" href="#">GALERİMİZ</a></p>
                </article>
              </div>
            </div>
          </div>
        </li>
        <li><img src="{% static 'img/slides/bahçe.jpg' %}" alt="">
          <div class="txtoverlay">
            <div class="centralise">
              <div class="verticalwrap">
                <article>
                  <h2 class="heading uppercase">DEMİR DOĞRAMADA İNCELİK VE HASSASİYET BİZİM İŞİMİZ</h2>
                  <p><a class="btn orange pushright" href="#">REFERANSLARIMIZ</a> <a class="btn red" href="#">GALERİMİZ</a></p>
                </article>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>