{% load static %}
<div class="wrapper row3">
  <main class="container nospace clear">
    <!-- main body -->
    <div class="group">
      <div class="one_half first paditout">
        <h2 class="heading uppercase btmspace-50">BURADA HERŞEY SİZİN İÇİN... </h2>
        <ul class="nospace group">
          <li class="btmspace-30">
            <article class="service largeicon"><i class="icon nobg circle fa fa-ra"></i>
              <h6 class="heading"><a href="#">Kolay Ulaşım İmkanı</a></h6>
              <p>İş bitene kadar değil memnuniyetiniz sağlanana kadar buradayız...</p>
            </article>
          </li>
          <li class="btmspace-30">
            <article class="service largeicon"><i class="icon nobg circle fa fa-female"></i>
              <h6 class="heading"><a href="#">Servislerimiz sürekli sizinde</a></h6>
              <p>İletişime geçmeniz akabinde servislerimiz yerinde inceleme yaparak en uygun işlemler için bilgi alırsınız</p>
            </article>
          </li>
          <li>
            <article class="service largeicon"><i class="icon nobg circle fa fa-history"></i>
              <h6 class="heading"><a href="#">Satış sonrası destek..</a></h6>
              <p>Ürünlerimiz her ne kadar garantili de olsa satış sonrası da hep yanınızdayız</p>
            </article>
          </li>
        </ul>
      </div>
      <div class="one_half"><a href="#"><img src="{% static 'img/Dining small.jpg' %}" alt=""></a></div>
    </div>
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>